body{
    margin: 15px;
    padding: 0px;
    
}
.imgIndex{
    margin-left: 120px;
}

.name{
    color: #60220d;
}

h2{
    color:#222831;
   
}
ol{
    color: #D65A31;
}
ul{
    color: #1d5a83;
}

ul {
    list-style-type: square;
}
a{
    color: red;
text-decoration: none;
}
a:hover{
    font-weight:bold;
    color: green;

}

a:active{

    color: #000;
}

.body3{
    background-color: #e1ebfa;
}


#KSA{
    border: 5px rgb(5, 134, 91) solid;
    width: 800px;
    height: 70px;
    margin: 15px;
    padding: 15px;
}
#Deals{
    border: 5px rgb(5, 134, 91) solid;
    width: 600px;
    height: 70px;
    margin: 15px;
    padding: 5px;
}

.pic{
background-position:right;
width: 50px;
height: 70px;


}




  